

 <%- include("header") -%>
<h2>This is about section.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magnam laboriosam consequatur doloribus placeat. Numquam sint libero cupiditate exercitationem doloremque temporibus eaque ea illo fugit modi vero in, alias minus.</p>
<%- include("footer") -%>